        <!-- <mat-icon style="float: right;" (click)="closeChat()">❌</mat-icon> -->

<div class="chat-page-layout">
<div class="chat-container">
  <!-- Header with title and Icons -->
   
  <div class="chat-header">
       <div class="header-actions">
    <!-- <button class="icon-btn" (click)="closeChat()" aria-label="Close chat"> -->
    <!-- </button> -->
  </div>
    <span class="chat-title">Mudusir's AI Assistant</span>
   
    <span class="contact-icons">
      <a href="https://www.linkedin.com/in/mudusir-shaik-669592135" target="_blank" title="LinkedIn">
        <img src="assets/Icons/linkedin.svg" alt="LinkedIn">
      </a>
      <a href="mailto:shaikmudasir12@gmail.com" title="Email">
        <img src="assets/Icons/gmail.svg" alt="Email">
      </a>
      <a href="https://github.com/mudasirshaik" target="_blank" title="GitHub">
        <img src="assets/Icons/github.svg" alt="GitHub">
      </a>
      <a href="https://wa.me/919676569326" target="_blank" title="WhatsApp">
        <img src="assets/Icons/whatsApp.svg" alt="WhatsApp">
      </a>
      <a href="tel:+919676569326" target="_blank" title="Call Me">
        <img src="assets/Icons/phoneBtn.svg" alt="PhoneBtn">
      </a>
    </span>
  </div>


  <!-- Chat Messages -->
  <div class="messages">
    <div *ngFor="let msg of messages()">
      <div [class.user-msg]="msg.user" [class.bot-msg]="!msg.user">
        <div [innerHTML]="msg.text"></div>
      </div>
       <!-- 👇 typing indicator -->
  <div class="bot-msg typing" *ngIf="typing()">
    <span></span>
    <span></span>
    <span></span>
  </div>
    </div>
  </div>

  <!-- Input Box -->
  <div class="input-box">
    <input #chatInput [ngModel]="userInput()" (ngModelChange)="userInput.set($event)" (keydown)="onKeyPress($event)"
      placeholder="Ask me about my work experience..." />
    <button (click)="sendMessage()" [disabled]="loading()">
      {{ loading() ? 'Waiting...' : 'Send' }}
    </button>
  </div>


</div>

</div>