<!-- <div class="layout"> -->
    <!-- <header class="header">

        <button mat-icon-button>
            <mat-icon>home</mat-icon>
        </button>
        <mat-toolbar color="primary">
            <span>Mudusir </span>
        </mat-toolbar>

    </header> -->

    <!-- side nav -->
    <!-- <aside class="sidenav"> -->

        <!-- <button mat-button color="primary" routerLink="/portfolio">my portfolio</button> -->
    <!-- </aside> -->




    <!-- <main class="main">
        <app-skills></app-skills>
    </main> -->
<!-- </div> -->
        <app-skills></app-skills>
